:root {
  --font-size: 1.2rem;
  --primary-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

body {
  font-family: "Comic Neue", "Patrick Hand", Sans-Serif;
}

.container {
  padding-bottom: 1rem;
}

header {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: calc(80vh + 1rem);
}

.result {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--primary-color);
  margin: 0 var(--font-size);
  padding: 0 var(--font-size);
}

.result-text {
  font-size: calc(var(--font-size) + 2px);
  text-align: center;
  line-height: 1.5em;
}

.btn-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size);
  padding: 2.5rem;
}

.btn {
  font-family: inherit;
  font-size: calc(var(--font-size) * 2);
  height: calc(1em * 2);
  width: calc(1em * 2);
  border: 2px solid var(--primary-color);
}
