:root {
  --font-size: 1.2rem;
  --primary-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  border: none;
}

body {
  font-family: "Comic Neue", "Patrick Hand", Sans-Serif;
}

.container {
  height: 100vh;
  margin: auto;
  max-width: 62rem;
}

header {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 80%;
}

.result {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--primary-color);
  margin: 0 var(--font-size);
  padding: 0 var(--font-size);
}

.result-text {
  font-size: calc(var(--font-size) + 2px);
  text-align: center;
  line-height: 1.5em;
}

.btn-container {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size);
  padding: 2.5rem;
}

.btn {
  font-family: inherit;
  font-size: calc(var(--font-size) * 2);
  height: calc(1em * 2);
  width: calc(1em * 2);
  border: 2px solid var(--primary-color);
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5rem 1fr;
  }

  header {
    grid-column: 1/3;
    grid-row: 1;
  }

  .game {
    height: 100%;
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    flex-direction: row-reverse;
  }

  .result {
    width: 50%;
    height: calc(100% - var(--font-size));
  }

  .btn-container {
    width: 50%;
    height: 100%;
    padding: 1.5rem 2.5rem;
  }
}
